<div class="appContent">
  <div class="row">
    <div class="inputContent">
      <button (click)='addVertex()'>+</button>
      <button (click)='setTestToEdges()'>Встановити тестове значення</button>
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor='let vertex of vertexes'>{{vertex}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let i of vertexes'>
            <td>{{i}}</td>
            <td *ngFor='let j of vertexes'><input *ngIf='i < j' id='edge_{{i + "_to_" + j}}' type="number" name=""
                value='0'></td>
          </tr>
        </tbody>
      </table>
      <!-- <button (click)='getEdges()'>Get edges</button> -->
      <button (click)='searchSmallerTree()'>Побудувати мінімальне дерево</button>
    </div>
  </div>

  <div class="row">
    <div class='leftColumn column'>
      <h4>Вхідне дерево</h4>
      <div id="cy"></div>
    </div>
    <div class='rightColumn column'>
      <h4>Мінімальне дерево</h4>
      <div id="cyResult"></div>
    </div>
  </div>
</div>
